mixin header-home(page)
  header.header
    +nav-and-logo(page)
    
    .row
      h1.h1 Hi, I'm Roger Antonell<br/> I design and develop web interfaces that focus on finding the simplest and effective solution.
    
