mixin project-thumbnail(title, description, href, src, alt, developer)
  .project-thumbnail
    .project-thumbnail__text-box
      h3.h3= title
      p.p= description
      if developer
        .project-thumbnail__role
          .label--bold Rol:
          .label Diseñador web
          .label Desarrollador web
      else
        .project-thumbnail__role
          .label--bold Rol:
          .label Diseñador web
      a(href=''+ href + '').btn Ver Proyecto
    .project-thumbnail__img
      img(src='img/'+ src +'', alt=''+ alt +'')
        
mixin way-help-you(icon, title, description)
  .way-help-you
    .way-help-you__img-box
      img(src='img/'+ icon +'-icon.png', alt="").way-help-you__img
    h3.h3= title
    p.p= description

mixin main-home
  main
    .projects#projects
      h2.h2 Algunos de mis proyectos
      .projects__box
        +project-thumbnail(
          'Wanderlust',
          'Wanderlust es una agencia de viajes de lujo, el enfoque para el diseño web fue inspirar un ambiente de lujo, exótico y minimalista. Diseñé la versión de escritorio de la interfaz web.',
          'project-1.html',
          'project-1-thumbnail.jpg',
          'Un ordenador mostrando la web de Wanderlust'
        )
        
        +project-thumbnail(
          'Iduconf',
          'Iduconf es un concepto para un evento sobre la interfaz de usuario en Barcelona, Diseñé y programé la web como un ejercicio para mejora mis habilidades.',
          'project-2.html',
          'project-2-thumbnail.jpg',
          'Un ordenador mostrando la web de Iduconf',
          'true'
        )
        
        +project-thumbnail(
          'SF•assets',
          'SF•assets es una firma de capital privado, El diseño web tiene el objetivo de transmitir confianza a la audiencia. Diseñé la versión de escritorio de la interfaz web.',
          'project-3.html',
          'project-3-thumbnail.jpg',
          'Un ordenador mostrando la web de SF•assets'
        )
        
        +project-thumbnail(
          'Golid',
          'Golid es un concepto para un gimnasio local, El objetivo de crear estos conceptos es mejorar en mis habilidades y mostrar mis habilidades a futuros clientes o colaboradores, Diseñé y programé la web.',
          'project-4.html',
          'project-4-thumbnail.jpg',
          'Un ordenador mostrando la web de Golid',
          'true'
        )
        
        +project-thumbnail(
          'Simple Clean',
          'Simple Clean es una startup que proporciona servicios de limpieza online, el diseño esta enfocado a transmitir una sensación de startup, diseñé la versión de escritorio de la pàgina web.',
          'project-5.html',
          'project-5-thumbnail.jpg',
          'Un ordenador mostrando la web de Simple Clean'
        )
        
        +project-thumbnail(
          'Alminim',
          'Alminim es un concepto de tienda de moda en línea, el enfoque para este concepto es un estilo minimalista, como de costumbre en mis conceptos diseñé y desarrollé la web.',
          'project-6.html',
          'project-6-thumbnail.jpg',
          'Un ordenador mostrando la web de Alminim',
          'true'
        )
      
    .ways-help-you
      h2.h2 Como puedo ayudarte
      .ways-help-you__box
        +way-help-you(
          'designer',
          'Diseñar la interfaz web', 
          'Desde el proceso inicial de  descubrimiento e investigación de los objetivos de la audiencia a la que queremos llegar hasta el aspecto visual de la web, mi proceso no  es solamente el resultado final, porque un sitio web no tiene que ser simplemente bonito, sino también resolver el objetivo principal por el cual fue creado.'
          )
        +way-help-you(
          'developer',
          'Desarrollar la interfaz web', 
          'Al igual que en el diseño, valoro resolver los problemas solo con el código necesario, limpio y reutilizable. Mi enfoque de programación de la interfaz web es conseguir un código ligero y por consiguiente más rápido y tener el control total de todas las variables involucradas en el desarrollo.'
          )
        
      
    
    
