mixin project-thumbnail(title, description, href, src, alt, developer)
  .project-thumbnail
    .project-thumbnail__text-box
      h3.h3= title
      p.p= description
      if developer
        .project-thumbnail__role
          .label--bold Role:
          .label Web interface designer
          .label Web interface developer
      else
        .project-thumbnail__role
          .label--bold Role:
          .label Web interface designer
      a(href=''+ href + '').btn View project
    .project-thumbnail__img
      img(src='img/'+ src +'', alt=''+ alt +'')
        
mixin way-help-you(icon, title, description)
  .way-help-you
    .way-help-you__img-box
      img(src='img/'+ icon +'-icon.png', alt="").way-help-you__img
    h3.h3= title
    p.p= description

mixin main-home
  main
    .projects#projects
      h2.h2 Selected projects
      .projects__box
        +project-thumbnail(
          'Wanderlust',
          'Wanderlust is a luxury travel agency, the approach for the website was to inspirie luxury, exotic and minimalist vibe. I designed the desktop version of the web interface.',
          'project-1.html',
          'project-1-thumbnail.jpg',
          'laptop showing the wanderlust website'
        )
        
        +project-thumbnail(
          'Iduconf',
          'Iduconf is a concept for a user interface conference event in Barcelona, as an exercise to improve my skills. I designed and code the web interface.',
          'project-2.html',
          'project-2-thumbnail.jpg',
          'laptop showing the Iduconf website',
          'true'
        )
        
        +project-thumbnail(
          'SF•assets',
          'SF•assets is a private equity firm, I designed the web interface with the aim to transmit trust to the audience.  I designed the desktop version of the web interface.',
          'project-3.html',
          'project-3-thumbnail.jpg',
          'laptop showing the SF•assets website'
        )
        
        +project-thumbnail(
          'Golid',
          'Golid is another concept for a local gym business, I build concetps, to level up my knowledge, that’s a good practice I often do. I designed and code the web interface. ',
          'project-4.html',
          'project-4-thumbnail.jpg',
          'laptop showing the Golid website',
          'true'
        )
        
        +project-thumbnail(
          'Simple Clean',
          'Simple clean is an online cleaning service startup, I designed the web interface with the goal to give an startup look, I designed the desktop version of the web interface. ',
          'project-5.html',
          'project-5-thumbnail.jpg',
          'laptop showing the simple clean website'
        )
        
        +project-thumbnail(
          'Alminim',
          'Alminim is an online fashion store concept, the approach for this concept is a minimal style, as usual, in this concept I designed and code the web interface.',
          'project-6.html',
          'project-6-thumbnail.jpg',
          'laptop showing a wanderlust web',
          'true'
        )
      
    .ways-help-you
      h2.h2 Ways I can help you
      .ways-help-you__box
        +way-help-you(
          'designer',
          'Design the web interface', 
          'From the discovery and research step of the goals of the audience to the Visual aspect of the website, my process isn’t just the final result, because a Website doesn’t have to be just beautiful, but also solve the main purpose.'
          )
        +way-help-you(
          'developer',
          'Develop the web interface', 
          'Like in design, I value solving the problems with only the necessary, clean and reusable code is my aim, My approach of coding the web interface is to be as lightweight as possible and having the real control of all the variable involved in the development.'
          )
        
      
    
    
