.footer
  //svg example
  svg
    transition: all $transition-timing-base $transition-duration-base
    width: 25rem
    height: 25rem
    fill: $color-gray-scale-darker

  svg:hover
    fill: $color-gray-scale-lighter
