// Typography
// $base-font-family: $font-stack-system
$base-font-family: 'Share'
$heading-font-family: $base-font-family

// media queries
$desktop-xxl: 1900px
$desktop-xl: 1600px
$desktop-l: 1400px
$desktop-m: 1200px
$desktop-s: 1000px
$tablet-l: 800px
$tablet-s: 600px
$mobile-l: 500px
$mobile-s: 400px

// Line height
$base-line-height: 1.5
$heading-line-height: 1.2

// Other Sizes
$base-border-radius: 3px
$base-spacing: 1.5em
$small-spacing: $base-spacing / 2
$base-z-index: 0

// Colors
$aqua:  #7FDBFF
$blue:  #0074D9
$navy:  #001F3F
$teal:  #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime:  #01FF70
$yellow:  #FFDC00
$orange:  #FF851B
$red:     #FF4136
$fuchsia: #F012BE
$purple:  #B10DC9
$maroon:  #85144B
$black:  #111
$dark-gray: #333
$medium-gray: #999
$light-gray: #ddd
$white:  #fff

// Font Colors
$base-font-color: $dark-gray
$action-color: $blue

// Border
$base-border-color: $light-gray
$base-border: 1px solid $base-border-color

// Background Colors
$base-background-color: #fff
$secondary-background-color: tint($base-border-color, 75%)

// Focus
$focus-outline-color: transparentize($action-color, 0.4)
$focus-outline-width: 3px
$focus-outline: $focus-outline-width solid $focus-outline-color
$focus-outline-offset: 2px

// Animations
$base-duration: 150ms
$base-timing: $ease-in-out-back
