include pug/mixins

doctype html
html(lang="en")
  +head('My story')
  
  body
    
    +header('my-story')

    main
      .jumbo My story
      
      .bio
        .bio__text
          p.p Hi, I'm Roger Antonell and I’m a designer and programmer of web interfaces, my curiosity about how the web works started in 2014, after finishing my studies as an electronic technician and not enjoying the work I found once I finished the studies. 
          p.p At that moment I started my professional career from the beginning again, but you must never give up on finding an enjoyable work(work is approx 15% of all our lifetime) I knew I love tech and finding solutions to the challenges of the life, so I brainstorm some of the things I could do with my passions, not much later, I started online courses about the web, there began what I really love to do, and I didn't stop learning and improving my skills since then. 
          p.p At this moment I'm confident in my abilities, therefore I’m constantly looking for challenges that will make me grow in my profession. Currently, I’m freelancing, but I'm open to defiant opportunities.
          p.p For those who wanna know more about me, when I'm not working or learning about the web, I enjoy doing sport, travel, cryptocurrencies(web related...), reading non-fiction books, personal development, and what I really like the most is spending my time just with the loved ones.  
        img(src="img/bio-photo.jpg", alt="photo of myself").bio__img

    +footer
    
    //- JS
    script(src="js/main.js")
      
