include pug/mixins

doctype html
html(lang="en")
  +head('Mi historia')
  
  body
    
    +header('my-story')

    main
      .jumbo Mi historia
      
      .bio
        .bio__text
          p.p Hola, soy Roger Antonell y soy diseñador y programador de interfaces web, mi curiosidad sobre cómo funciona la web comenzó en 2014, después de terminar mis estudios como técnico electrónico y no disfrutar del trabajo que realizaba en aquel entonces.
          p.p En ese momento comencé mi carrera profesional desde el principio de nuevo, pero nunca debes renunciar a encontrar un trabajo que te apasioné ya que el trabajo es aproximadamente el 15% de toda nuestra vida. Sabía que me atraía todo lo relacionado con la tecnología y me encantaba encontrar soluciones a los desafíos que la vida me retaba. Así que hice una lluvia de ideas sobre algunas de las profesiones que encajaban con mis preferencias, no mucho después, comencé cursos en línea sobre como funcionaba la web, y no dejé de curiosear, aprender y mejorar mis habilidades desde entonces.
          p.p En estos momentos confío plenamente en mis habilidades, por lo que estoy constantemente buscando desafíos que me hagan crecer en mi profesión. Actualmente, estoy trabajando como freelance, pero estoy abierto a cualquier oportunidades que me perita crecer profesionalmente.
          p.p Para aquellos que quieran saber más sobre mí, cuando no estoy trabajando o aprendiendo sobre la web, disfruto haciendo deporte, viajando, aprendiendo sobre criptomonedas, leyendo libros de no ficción, el desarrollo personal y pasando  tiempo con mi familia y amigos.  
        img(src="img/bio-photo.jpg", alt="photo of myself").bio__img

    +footer
    
    //- JS
    script(src="js/main.js")
      
