include pug/mixins

doctype html
html(lang="en")
  +head('Wanderlust')
  
  body
    +header
    
    main
      +project-details(
        'Wanderlust', 
        'Wanderlust es una agencia de viajes de lujo, el cliente quería mostrar toda la información necesaria en la página de inicio y hacer sentir al visitante la sensación de un viaje lujoso y exótico, sin perder la simplicidad.', 
        'Para lograr el sentimiento de lujo, minimalista y exótico que el cliente solicitó, elegí imágenes de lugares tropicales, hice un diseño con solamente los elementos imprescindibles y combiné una fuente serif con colores sutiles.', 
        'Enero del 2017',
        'wanderlust-desktop.jpg',
        'la version de escritorio de la página web de wanderlust'
      )
        
    +footer
    
    //- JS
    script(src="js/main.js")
      
