include pug/mixins

doctype html
html(lang="en")
  +head('Simple clean')
  
  body
    +header
      
    main
      +project-details(
        'Simple Clean', 
        'Simple clean es un servicio de limpieza online. El cliente estaba buscando un diseño simple que inspirara al usuario la sensación de startup y ofreciera un sentimiento de confianza al público a través de varios testimonios, pero también resolviendo el problema de reserva del servicio con facilidad.', 
        'El objetivo era presentar una propuesta de valor sólida, dando la posibilidad al usuario de reservar con facilidad lo antes posible, haciendo hincapié en la satisfacción de los clientes actuales. El diseño limpio y directo al objetivo principal le da una sensación de startup en conjunto.', 
        'Marzo, 2018',
        'simple-clean-desktop.jpg',
        'la version de escritorio de la página web de Simple clean'
      )
      
    +footer
    
    //- JS
    script(src="js/main.js")
      
