include pug/mixins

doctype html
html(lang="en")
  +head('Iduconf')
  
  body
    +header
      
    main
      +project-details(
        'Iduconf', 
        'Iduconf es un concepto para una conferencia sobre la interfaz de usuario en Barcelona, el objetivo de este concepto fue transmitir al usuario de que Barcelona es una ciudad futurista a la vanguardia en el campo de UI/UX.', 
        'El enfoque para lograr transmitir el aspecto futurista de la ciudad  al usuario, fue  la  combinación de una  paleta de colores fuertes con efectos al pasar por encima de la sección de los ponentes y un diseño no convencional.', 
        'Febrero, 2017',
        'iduconf-desktop.jpg',
        'la version de escritorio de la página web de Iduconf',
        'iduconf-phone.jpg',
        'la version para el movil de la página web de Iduconf',
        'https://rantonell.github.io/Iduconf/'
      )
      
    +footer
    
    //- JS
    script(src="js/main.js")
      
