include pug/mixins

doctype html
html(lang="en")
  +head('SF•assets')
  
  body
    +header
      
    main
      +project-details(
        'SF•assets', 
        'SF•assets es una firma de capital privado, el cliente quería una web que le diera una sensación de confianza al usuario, también deseaba destacar los resultados de la empresa en los últimos años y destacar la ubicación de la empresa, San Francisco.', 
        'Para destacar la ubicación, incluí a San Francisco en la propuesta de valor, la sección "sobre" se ocupa de mostrar los resultados de la empresa en los últimos años, y el diseño básico y limpio trata de inspirar un sentimiento de confianza y profesionalismo al usuario.', 
        'Enero, 2018',
        'sfassets-desktop.jpg',
        'la version de escritorio de la página web de SF•assets'
      )
      
    +footer
    
    //- JS
    script(src="js/main.js")
      
