include pug/mixins

doctype html
html(lang="en")
  +head('Golid')
  
  body
    +header
      
    main
      +project-details(
        'Golid', 
        'Golid es un concepto para un negocio local de un gimnasio. Para este concepto, el objetivo principal era incitar a la audiencia a ser enérgicos, estar activos y motivarlos para que visiten el gimnasio y traten de mejorar su salud y su estado físico.', 
        'Para tratar de lograr el reto, añadí decoraciones inclinadas en los títulos y logo, que inspiran movimiento, el color amarillo y el rojo, le dan una sensación energética, y el contenido está diseñado para convencer a los visitantes de que prueben un pase gratis y mejoren sus vidas.', 
        'Junio, 2017',
        'golid-desktop.jpg',
        'la version de escritorio de la página web de Golid',
        'golid-phone.jpg',
        'la version para el movil de la página web de Golid',
        'https://rantonell.github.io/Golid/'
      )
      
    +footer
    
    //- JS
    script(src="js/main.js")
      
