include pug/mixins

doctype html
html(lang="en")
  +head('Alminim')
  
  body
    +header
      
    main
      +project-details(
        'Alminim', 
        'Alminim es la página de inicio de un concepto de tienda de moda online, el desafío fue transmitir un diseño con un aspecto minimalista y limpio, con una búsqueda de productos sencilla, y aprender a presentar toda la información sin hacer sentir el sitio abarrotado.', 
        'Con un predominio del blanco, separadores sutiles para las diferentes secciones y solamente mostrando la información necesaria, la página de inicio tiene una apariencia minimalista, la gran barra de búsqueda de productos centrada, hace que la búsqueda de un producto sea sencilla.', 
        'Marzo, 2018',
        'alminim-desktop.jpg',
        'la version de escritorio de la página web de Alminim',
        'alminim-phone.jpg',
        'la version para el movil de la página web de Alminim',
        'https://rantonell.github.io/Alminim/'
      )
      
    +footer
    
    //- JS
    script(src="js/main.js")
      
